<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- Other configuration settings -->
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Rule to allow api.jsonrpc URLs -->
        <rule name="AllowApiJsonRpcUrls" stopProcessing="true">
          <match url="^api\.jsonrpc(/.*)?$" />
          <action type="None" />
        </rule>

        <!-- Rule to allow api.restful URLs -->
        <rule name="AllowApiRestfulUrls" stopProcessing="true">
          <match url="^api\.restful(/.*)?$" />
          <action type="None" />
        </rule>

        <!-- Rule to allow api.static URLs -->
        <rule name="AllowApiStaticUrls" stopProcessing="true">
          <match url="^api\.static(/.*)?$" />
          <action type="None" />
        </rule>

        <rule name="Return404ForOtherRequests" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_URI}" pattern="^/(api\.jsonrpc|api\.restful|api\.static)/" negate="true" />
          </conditions>
          <action type="CustomResponse" statusCode="404" statusReason="Not Found" statusDescription="The requested resource was not found." />
        </rule>
      </rules>
    </rewrite>    
  </system.webServer>
</configuration>