CREATE TABLE [dbo].[TD_LOGGING](
	[LGG_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[LGG_DATETIME] [datetime] NOT NULL,
	[LGG_THREAD] [varchar](8) NOT NULL,
	[LGG_LEVEL] [varchar](8) NOT NULL,
	[LGG_CLASS] [varchar](256) NULL,
	[LGG_METHOD] [varchar](256) NULL,
	[LGG_LINE] [varchar](8) NULL,
	[LGG_MESSAGE] [nvarchar](max) NULL,
	[LGG_EXCEPTION] [nvarchar](max) NULL,
	[LGG_MACHINENAME] [nvarchar](max) NULL,
 CONSTRAINT [PK_TD_LOGGING] PRIMARY KEY CLUSTERED 
(
	[LGG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO