CREATE TABLE [dbo].[TD_PERFORMANCE](
	[PRF_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PRF_PROCESSOR_PERCENTAGE] [tinyint] NOT NULL,
	[PRF_MEMORY_AVAILABLE] [int] NOT NULL,
	[PRF_REQUEST_QUEUE] [smallint] NOT NULL,
	[PRF_REQUEST_PERSECOND] [smallint] NOT NULL,
	[PRF_DATETIME] [datetime] NOT NULL,
	[PRF_SERVER] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_TD_PERFORMANCE] PRIMARY KEY CLUSTERED 
(
	[PRF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_PRF_DATETIME] ON [dbo].[TD_PERFORMANCE]
(
	[PRF_DATETIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_PRF_SERVER] ON [dbo].[TD_PERFORMANCE]
(
	[PRF_SERVER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO