<?xml version="1.0" encoding="utf-8" ?>
<appStatic>

	<!-- 
	********************************************************************** 
	Static - Error 
	********************************************************************** 
	-->
	<add key="APP_ERROR_CREATE" value="No record created."/>
	<add key="APP_ERROR_UPDATE" value="No record updated."/>
	<add key="APP_ERROR_DELETE" value="No record deleted."/>

</appStatic>